body{
	margin: 0px;
}
.main-content{
	display: flex;
	justify-content: center;
}
.main-content-container{
	display: flex;
	width: 800px;
}
.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card1, .card2, .card3{
	border-top: 1px solid grey;
	padding-bottom: 5px;
	border-left: 1px solid grey;
	margin-bottom: 30px;
}
.icons{
    color: #adacac;	
}
h2{
	color:  #FFAD00;
	font-size:  35px;
	margin-bottom: 3px;
	margin-top: 7px;
	padding-left: 40px;
}
p{
	color:#828181;
	padding-left: 30px;
}
p a{
	color: #828181;
}
p a:hover{
	color:  #FFAD00;
}
h2{
	color :  #FFAD00;
	display: flex;
	justify-content: center;
}
.dropdown{
	position: relative;
}
.dropdown .year-button{
	cursor: pointer;
}
.dropdown-content{
	position: absolute;
	display: none;
	z-index: 100;
	background: white;
	color: grey;
	padding: 30px 20px;
}
.dropdown-content div:hover{
	color: #FFAD00;
	cursor: pointer;
}
 .dropdown:hover .dropdown-content{
	display: block;
}
.num{
	color: #FFAD00;
}