body{
	margin: 0px;
}
.main-content{
	display: flex;
	justify-content: center;
}
.main-content-container{
	display: flex;
	width: 950px;
}
.content-container{
	width:  65%;
}
.column2{
	width: 35%;
}
.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card1, .card2, .card3{
	border-top: 1px solid grey;
	padding-bottom: 5px;
	border-left: 1px solid grey;
	margin-bottom: 30px;
}
.icons{
    color: #adacac;	
}
h2{
	color:  #FFAD00;
	font-size:  35px;
	margin-bottom: 3px;
	margin-top: 7px;
	padding-left: 40px;
}
p{
	color:#828181;
	padding-left: 30px;
}
p a{
	color: #828181;
}
p a:hover{
	color:  #FFAD00;
}
h2{
	color :  #FFAD00;
	/**display: flex;
	justify-content: center;**/
	
}
.archives-container{
	margin-left: 20px;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 25px;

}
.archives-container h2{
   padding-left: 0px;
   color: black;
   text-transform:  capitalize;
}

.dropdown{
	position: relative;
}
.dropdown .year-button{
	cursor: pointer;
}
.dropdown-content{
	position: absolute;
	display: none;
	z-index: 100;
	background: white;
	color: #747575;
	padding: 30px 20px;
}
.dropdown-content div:hover{
	color: #FFAD00;
	cursor: pointer;
}
 .dropdown:hover .dropdown-content{
	display: block;
}
.num{
	color: #FFAD00;
}
.year-button{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	color: #FFAD00;
	border-top: 1px solid grey
}