body{
	margin: 0px;
}
.main-content{
	display: flex;
	justify-content: center;
}
.main-content-container{
	width: 800px;
}
.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card1, .card2, .card3{
	border-top: 1px solid grey;
	padding-bottom: 25px;
}
.icons{
    color: #adacac;	
}
h2{
	color:  #FFAD00;
	font-size:  35px;
	margin-bottom: 3px;
	margin-top: 7px;
}
p{
	color:#828181;
}