@font-face {
	font-family: "Myriad Pro";
	src: url("../font-awesome/fonts/MYRIADPRO-REGULAR.OTF");
}
body{
	margin: 0px;
}
.main-container{
	display: flex;
	justify-content: center;
}
.content-container{
	display: flex;
	align-items: flex-start;
	width: 950px;
}
.column1{
	width: 70%;
}
.column1 h2{
	font-size: 30px;
	margin: 0px;
	font-family: "Myriad Pro";#
}
.column1 p, .column1 p a{
	color:  #787878;
	line-height: 25px;
	font-family: "Myriad Pro";
}
.column1 a:hover{
	color: #ffad00;
}
#contactinfo{
	width: 640px;
	margin-top: 75px;
}
#contactinfo h3{
	font-size: 25px;
	color : #ffad00;
	text-transform: capitalize;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
}
#contactinfo span , #contactinfo span a{
	color: #787878;
}
#contactinfo a:hover{
	color: #ffad00;
}
.store-container{
	margin-top: 30px;
	margin-bottom: 30px;
}
.column2{
	width: 30%;
	margin-left: 40px;
}
.column2 h3 {
   font-size: 30px; 
   margin-top: 0px;
   margin-bottom: 0px;
}
.column2 .socail-media-handles div{
	border-bottom: 1px solid grey;
	padding-bottom:  20px;
	padding-top: 10px;
}
.column2 .socail-media-handles div a{
	display: flex;
	align-items: center;
	text-decoration: none;
}

.column2 span{
	font-size: 30px;
	color: #787878;
}
.column2 .socail-media-handles i{
	font-size: 60px;
	color: #aeafb0;
	padding-right: 35px;
	
}
.column2 .socail-media-handles div:hover i , .column2 .socail-media-handles div:hover span{
	color: black;
	/**text-decoration: underline;**/
}
.column 
