.header{
	background: #FFAD00;
	display: flex; 
	justify-content: center;
	margin-bottom: 60px;
}

.nav {
  display: flex;
  width: 80%;
  padding-top: 45px;
  padding-bottom: 12px;
}

.menus {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-left: 15px;
}

.menus a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.menus a:hover {
  color: white;
}
.logo-container{
	position: relative;
	width: 400px;
}
.logo{
	position: absolute;
	top: -42px;
	left: 0px;
}