body{
	margin: 0px;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.img-container{
	display: flex; 
	justify-content: center;
	align-items: center;
}
.content22{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.content1-content1, .content1-content2, .content2-content1, .content2-content2{
	display: flex;
}
.content2{
	padding-left: 20px;
	padding-right: 20px;
}
.p p, .p a{
	width: 200px;
	line-height: 1.5em;
	color: #7a6666;
}
.content3{
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-bar{
	margin-bottom: 0px;
    background: #FFAD00;
	padding: 5px 20px 5px 5px;
}
button{
	background-color: #FFAD00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.block{
	display: flex;
	padding-top: 10px;
	margin-bottom: 5px;
	color: white;
}