body{
	margin: 0px;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.img-container{
	display: flex; 
	justify-content: center;
	align-items: center;
}
.1background{
	background-color: black;
	height: 200px;
}
.2background{
	background-color: #310000;
	height: 50px;
}
.3background{}