body{
	margin: 0px;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.img-container{
	display: flex; 
	justify-content: center;
	align-items: center;
}
.content22{
	display: flex;
	justify-content: center;
}
.content1-content1, .content1-content2, .content2-content1, .content2-content2{
	display: flex;
}
.p p, .p a{
	width: 200px;
	line-height: 1.5em;
	color: #7a6666;
}
.content3{
	display: flex;
	align-items: center;
	justify-content: center;
}
.form1{
	display: flex;
}